<div class="container">
  <div class="page-header">
    <h1>How To Mine Atheios</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>YOUR_ATH_ADDRESS</dt>
    <dd>This is your address for payouts. Generate one with our <a href="https://wallet.atheios.com" rel="nofollow" target="_blank">online wallet</a>.<br/>
      <strong>Example:</strong> <code>0x4c15a20f098b96d5d1f8c8e4aedf3af68818195c</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your farm to distinguish it from your other rig. If you have just one rig, feel free to omit this param.
      This param must be short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>rig-1</code>
    </dd>
  </dl>

  <br />

  <h4>Mining with <a href="https://bitcointalk.org/index.php?topic=1433925.0" rel="nofollow" target="_blank">Claymore</a></h4>
  <p>
    <span class="label label-info">Stratum:</span> <code>EthDcrMiner64.exe -epool stratum+tcp://pool.atheios.com:8008 -ewal YOUR_ATH_ADDRESS -epsw x -allpools 1 -allcoins -1 -gser 2 -eworker RIG_ID</code>
  </p>

  <br />

  <h4>Mining with <a href="https://github.com/ethereum-mining/ethminer/releases/tag/v0.13.0" rel="nofollow" target="_blank">Ethminer</a></h4>
  <p>
    <span class="label label-info">Stratum (Nvidia):</span> <code>ethminer.exe --farm-recheck 200 -U -S pool.atheios.com:8008 -SP 1 -O YOUR_ATH_ADDRESS.RIG_ID</code>
    <br />
    <span class="label label-info">Stratum (AMD):</span> <code>ethminer.exe --farm-recheck 200 -G -S pool.atheios.com:8008 -SP 1 -O YOUR_ATH_ADDRESS.RIG_ID</code>
    <br />
    <span class="label label-info">Getwork (Nvidia):</span> <code>ethminer.exe -F http://pool.atheios.com:8888/YOUR_ATH_ADDRESS/RIG_ID -U --farm-recheck 200</code>
    <br />
    <span class="label label-info">Getwork (AMD):</span> <code>ethminer.exe -F http://pool.atheios.com:8888/YOUR_ATH_ADDRESS/RIG_ID -G --farm-recheck 200</code>
  </p>

  <br />

  <h4>Advice</h4>
  <p>CPU mining is not recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>


</div>
